* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Jost', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.title-24, .empty-box-inner h2, .form-box h3 {
  font-weight: 700;
  font-size: 24px;
}

.title-20, .feedback-board h3 {
  font: 700 20px/normal inherit;
}

.title-18, .roadmap-board .row h3, .menu .menu-nav h3, .list .list-text h4 {
  font-weight: 700;
  font-size: 18px;
}

.text-16-400, .roadmap-board .row ul, .list .list-text p, .empty-box-inner p {
  font-weight: 400;
  font-size: 16px;
}

.text-16-600 {
  font-weight: 600;
  font-size: 16px;
}

.text-16-700, .roadmap-board .row ol, .list .comments span {
  font-weight: 700;
  font-size: 16px;
}

.text-15-400, .feedback-board p {
  font-weight: 400;
  font-size: 15px;
}

.text-14-700, .go-back_transparent, .form-box .btn a, .menu .menu-btn a, .empty-box-inner a, .form-box form h4, .form-box .button-box a:nth-child(1), .form-box .button-box a:nth-child(2) {
  font-weight: 700;
  font-size: 14px;
}

.text-14-400, .menu .menu-nav span, .form-box form label {
  font-weight: 400;
  font-size: 14px;
}

.text-13-600 {
  font-weight: 600;
  font-size: 13px;
}

.text-13-700, .element, .list .list-text a, .roadmap-board .row a, .list .count span {
  font-weight: 700;
  font-size: 13px;
}

.element-high, .list .count span {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px;
  border-radius: 10px;
  background-color: #F2F4FE;
}

.element-high:hover, .list .count span:hover {
  background-color: #CFD7FF;
}

.element-high:active, .list .count span:active {
  background-color: #4661e6;
  color: #ffffff;
}

.element, .list .list-text a {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #F2F4FF;
  color: #4661e6;
}

.element:hover, .list .list-text a:hover {
  background-color: #CFD7FF;
  color: #4661e6;
}

.element:active, .list .list-text a:active {
  background-color: #4661e6;
  color: #ffffff;
}

.button-basic, .button_purple, .menu .menu-btn a, .empty-box-inner a, .form-box .button-box a:nth-child(2), .button_blue, .button_grey, .form-box .button-box a:nth-child(1), .button-red {
  padding: 12px 25px;
  border-radius: 10px;
}

.button_purple, .menu .menu-btn a, .empty-box-inner a, .form-box .button-box a:nth-child(2) {
  background-color: #ad1fea;
}

.button_purple:hover, .menu .menu-btn a:hover, .empty-box-inner a:hover, .form-box .button-box a:hover:nth-child(2) {
  background-color: #C75AF6;
}

.button_blue {
  background-color: #4661e6;
}

.button_blue:hover {
  background-color: #7C91F9;
}

.button_grey, .form-box .button-box a:nth-child(1) {
  background-color: #3a4374;
}

.button_grey:hover, .form-box .button-box a:hover:nth-child(1) {
  background-color: #656EA3;
}

.button-red {
  background-color: #D73737;
}

.button-red:hover {
  background-color: #E98888;
}

.go-back_basic, .go-back_transparent, .form-box .btn a, .go-back_dark {
  width: 158px;
  height: 53px;
  border-radius: 10px;
}

.go-back_transparent, .form-box .btn a {
  color: #647196;
}

.go-back_transparent a::before, .form-box .btn a a::before {
  content: '\276E';
  width: 8px;
  height: 8px;
  margin-right: 15px;
  text-decoration: none;
}

.go-back_transparent:hover, .form-box .btn a:hover {
  text-decoration: underline;
}

.go-back_dark {
  background-color: #373f68;
}

.go-back_dark:hover {
  text-decoration: underline;
}

body {
  background-color: #f7f8fd;
}

.wrapper {
  width: 1110px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.wrapper .side-boxs {
  width: 255px;
}

.wrapper .main-boxs {
  width: 825px;
}

.feedback-board {
  height: 137px;
  border-radius: 10px;
  background: #28a7ed;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
  position: relative;
  margin-bottom: 30px;
}

.feedback-board h3 {
  color: #ffffff;
  position: absolute;
  left: 25px;
  bottom: 50px;
}

.feedback-board p {
  color: #ffffff;
  position: absolute;
  left: 25px;
  bottom: 30px;
}

.elements-board {
  background-color: #ffffff;
  padding: 24px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.elements-board .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 14px;
}

.elements-board .row a {
  margin-right: 8px;
}

.roadmap-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 25px;
}

.roadmap-board .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.roadmap-board .row h3 {
  display: inline-block;
  color: #3A4374;
}

.roadmap-board .row a {
  color: #4661E6;
  text-decoration: underline;
}

.roadmap-board .row ul {
  display: inline-block;
  color: #647196;
}

.roadmap-board .row ul li {
  margin-bottom: 8px;
}

.roadmap-board .row ol {
  display: inline-block;
  list-style: none;
  color: #647196;
}

.roadmap-board .row ol li {
  margin-bottom: 8px;
}

.menu {
  width: 825px;
  height: 72px;
  background-color: #373f68;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.menu .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-left: 30px;
}

.menu .menu-nav i {
  color: #ffffff;
  font-size: 14px;
}

.menu .menu-nav i:last-child {
  position: relative;
  top: 4px;
}

.menu .menu-nav h3 {
  color: #ffffff;
}

.menu .menu-nav span {
  color: #ffffff;
  position: relative;
  top: 2px;
}

.menu .menu-btn {
  margin-right: 15px;
}

.menu .menu-btn a {
  color: #ffffff;
}

.list {
  position: relative;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .count span {
  color: #3a4374;
  padding: 25px 8px 8px;
}

.list .count i {
  position: relative;
  top: 25px;
  left: 12px;
  color: #4661E6;
  z-index: 2;
  margin-bottom: 5px;
}

.list .list-text {
  margin-left: 30px;
}

.list .list-text h4 {
  color: #3a4374;
  margin-bottom: 8px;
}

.list .list-text p {
  color: #647196;
  margin-bottom: 8px;
}

.list .list-text a {
  display: inline-block;
}

.list .comments {
  position: absolute;
  right: 10px;
}

.list .comments i {
  color: #CDD2EE;
}

.empty-box {
  margin-top: 30px;
  height: 600px;
  background: #ffffff url(/ProductFeedbackUI/background.png) top no-repeat;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

.empty-box-inner {
  position: absolute;
  bottom: 120px;
}

.empty-box-inner h2 {
  color: #3a4374;
  margin-bottom: 20px;
}

.empty-box-inner p {
  color: #647196;
  margin-bottom: 50px;
}

.empty-box-inner a {
  color: #ffffff;
}

.form-box {
  width: 540px;
  background-color: #ffffff;
  margin: 180px auto;
  padding: 50px 40px 40px;
  border-radius: 10px;
  position: relative;
}

.form-box .btn {
  position: absolute;
  top: -90px;
  left: -5px;
}

.form-box .btn a::before {
  content: '\276E';
  width: 8px;
  height: 8px;
  margin-right: 15px;
  text-decoration: none;
  color: #4661E6;
}

.form-box::before {
  content: "\002B";
  position: absolute;
  top: -28px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 35px;
}

.form-box h3 {
  color: #3a4374;
  margin-bottom: 40px;
}

.form-box form h4 {
  color: #3a4374;
}

.form-box form label {
  color: #647196;
}

.form-box form input,
.form-box form textarea,
.form-box form select {
  width: 100%;
  padding: 15px 0px 15px 25px;
  background-color: #f7f8fd;
  margin-top: 15px;
  margin-bottom: 24px;
  border: 1px solid transparent;
  border-radius: 5px;
  resize: none;
}

.form-box .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 30px;
}

.form-box .button-box a:nth-child(1) {
  color: #ffffff;
}

.form-box .button-box a:nth-child(2) {
  color: #ffffff;
  margin-left: 15px;
}
