html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.light-theme{
    background-color:rgb(238,245,255);
}
.light-text-day{
    color:rgb(38,47,73);
}
.light-text-night{
    color: rgb(65,73,96);
}
.dark-text-day{
    color:rgb(200,207,220);
}
.dark-text-night{
    color: white;
}
.dark-theme{
    background-color: rgb(38,47,73);
    color: white;
}

span {
    font-size: 4em;
    font-weight: 700;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(127,171,255);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(4,5,8);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}