body {
   font-family: 'Poppins', sans-serif;
}

.container {
   width: 1170px;
   margin: 50px auto;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}

/* item ve onun hoverleri */

.item {
   display: flex;
   flex-direction: column;
   padding: 10px;
   border:3px solid white;
   transition: border .1s ease-in-out;
}

.item:hover {
   border: 3px solid #ebe9eb;

}

.item:hover .image-box-additional a {
   top: 100%;

}

.item:hover .btn {
   display: block;
}

.item:hover .dropdown-content {
   display: block;
 
}

/* image box ve onun hoverleri */

.image-box {
   width: 270px;
   height: 347px;
   background-size: cover;
   margin-bottom: 10px;
   position: relative;
   transition: all .5s ease-in-out;
}

.image-box-additional {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 10px;
   right: 10px;
}

.image-box-additional a {
   margin-bottom: 5px;
   top: 0%;
   width: 35px;
   height: 35px;
   background-color: white;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.image-box-additional a:hover {
   background-color: #ebb5ac;
}

.image-box-additional a i {
   font-size: 18px;
}

.dropdown-content {
   display: none;
}

.first-item {
   background-image: url(/ProductlistUI/image/image01.jpg);
}

.item:hover .first-item {
   background-image: url(/ProductlistUI/image/image0102.jpg);
}

.second-item {
   background-image: url(/ProductlistUI/image/image02.jpg);
}

.item:hover .second-item {
   background-image: url(/ProductlistUI/image/image0202.jpg);
}

.third-item {
   background-image: url(/ProductlistUI/image/image03.jpg);
}

.item:hover .third-item {
   background-image: url(/ProductlistUI/image/image01.jpg);
}

.fourth-item {
   background-image: url(/ProductlistUI/image/image04.jpg);
}

.item:hover .fourth-item {
   background-image: url(/ProductlistUI/image/image0402.jpg);
}


/* info box ve onun hoverleri*/

.info-box {
   display: flex;
   flex-direction: column;
}

.info span {
   margin-bottom: 10px;
}

.star {
   color: #888888;
   font-size: 11px;
   margin-bottom: 7px;
   margin-left: 0px;
}
.pink-star{
   color: #ebb5ac;
}
.name {
   line-height: 24px;
   font-size: 14px;
   color: #262626;
   font-weight: 400;
   letter-spacing: 0.6px;
   margin-bottom: 5px;
}

.name:hover {
   color: #ffba00;
}

.price {
   color: #000000;
   font-size: 16px;
   letter-spacing: 0.6px;
   line-height: 26px;
   font-weight: 500;
}

.info-box a:hover {
   background-color: #000000;
   color: white;

}

.btn {
   display: none;
   width: 100%;
   padding: 10px 29px;
   background: #ebb5ac;
   text-align: center;
   font-size: 14px;
   line-height: 22px;
   font-weight: 500;
   letter-spacing: 0.6px;
   transition: all .9s linear;
}