body {
   font-family: 'Poppins', sans-serif;
}


.container {
   width: 1170px;
   margin: 50px auto;
}


ul {
   display: flex;
   justify-content: space-between;
}

a {
   display: inline-block;
   padding: 12px;
}

.image {
   background-image: url(/ProductlistUI/image/image01.jpg);
   width: 270px;
   height: 347px;
   background-size: cover;
   position: relative;
   margin-bottom: 10px;
}

.image:hover {
   background-image: url(/ProductlistUI/image/image0102.jpg);
}

.image-add-button {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 6px;
   right: 8px;
}

.image-add-button a {
   height: 35px;
   width: 35px;
   margin-bottom: 5px;
   border-radius: 50%;
   background-color: white;
}

.image-add-button i {
   font-size: 15px;
}



.info {
   display: flex;
   flex-direction: column;
}

.info span {
   margin-bottom: 10px;
}

.star {
   color: #888888;
   position: relative;
   font-size: 11px;
   font-family: star;
   margin-bottom: 7px;
   margin-left: 0px;
}

.name {
   line-height: 24px;
   font-size: 14px;
   color: #262626;
   font-weight: 400;
   letter-spacing: 0.6px;
   margin-bottom: 5px;
}

.price {
   color: #000000;
   font-size: 16px;
   letter-spacing: 0.6px;
   line-height: 26px;
   font-weight: 500;
}

button {
   font-size: 14px;
   line-height: 22px;
   font-weight: 500;
   letter-spacing: 0.6px;
   padding: 10px 29px;
   background: #ebb5ac;
   color: #000000;
   display: inline-block;
   width: 100%;
   box-sizing: border-box;
}