/* common css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(249, 249, 234);
}

li {
    list-style: none;
}

/* index.html styles*/

.container {
    width: 400px;
    background-color: rgb(224, 129, 129);
    border-radius: 20px;
    margin: 30px auto;
    padding: 20px 30px;
}

h4 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    color: rgba(223, 206, 18, 0.918);
    font-weight: 700;
}

.btn {
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
}

.hide {
    display: none;
}

.quiz-box div {
    width: 400px;
    padding: 20px;
    background-color: rgb(224, 129, 129);
    margin-bottom: 20px;
}

.quiz-box h4 {
    text-align: center;
    color: white;
    font-size: 20px;

}

.quiz-box ul {
    list-style: none;
}

.quiz-box ul li {
    margin-bottom: 10px;
    background-color: rgb(237, 240, 243);
    color: rgb(81, 77, 77);
    padding: 2px 15px;
    border: 1px solid transparent;
}

.quiz-box ul li:hover {
    background-color: rgb(234, 183, 16);
    transform: scale(1.05);
    border: 1px solid rgb(174, 138, 20);
    box-shadow: 1px 1px 1px 2px;

}

/* admin.html styles */

.wrapper {
    width: 600px;
    margin: 20px auto;
}

h3 {
    text-align: center;
}

form {
    background-color: rgb(224, 129, 129);
    padding: 20px 30px;
}

label,
input,
button {
    width: 100%;
}

label {
    color: rgb(245, 237, 237);
}

form div {
    margin-bottom: 20px;
}

form button {
    padding: 3px 8px;
}

