/* common css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(249, 249, 234);
}

li {
    list-style: none;
}

/* index.html styles*/

.container {
    width: 400px;
    background-color: rgb(224, 129, 129);
    border-radius: 20px;
    margin: 30px auto;
    padding: 20px 30px;
}

h4 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    color: rgba(223, 206, 18, 0.918);
    font-weight: 700;
}

#startBtn {
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
}
#submitBtn{
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
}

.hide {
    display: none;
}

.quiz-box div {
    width: 400px;
    padding: 20px;
    background-color: rgb(224, 129, 129);
    margin-bottom: 20px;
}

.quiz-box h4 {
    text-align: center;
    color: white;
    font-size: 20px;

}

.quiz-box ul {
    list-style: none;
}

.quiz-box ul li {
    margin-bottom: 10px;
    background-color: rgb(237, 240, 243);
    color: rgb(81, 77, 77);
    padding: 2px 15px;
    border: 1px solid transparent;
}



