.header {
    padding-top: 40px;

    &-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-nav-item {
        padding-right: 25px;
        position: relative;
        display: inline-block;
        @extend %small-title;


        &:hover {
            color: #fd7e14;
        }

        &:hover .submenu {
            display: block;
        }

        .submenu {
            position: absolute;
            top: 50px;
            left: 20px;
            z-index: 10;
            display: none;
            min-width: 230px;
            transition: 0.3s;
            background: #ffffff;
            box-shadow: 0px 5px 8px rgb(106 106 106 / 40%);
            border: 1px solid #ebebeb;

            li {
                padding: 10px;
                border-bottom: 1px solid #b0c6c64d;
            }
        }

    }

    .header-info-item {
        padding-right: 25px;
        @include text(inherit, 400, 1.2rem);
        
    }

}


.footer {
    display: flex;
    flex-direction: column;

    &-nav {
        padding: 80px 0px 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-bottom: 1px solid #e9e9e9;

        &-item {
            h4 {
                margin-bottom: 25px;
                @include text(inherit, 500, 1.3rem);
                text-transform: uppercase;
                
            }

            ul li {
                padding: 6px 0px;
                font-size: 1.3rem;
                text-transform: capitalize;
                color: #888888;
                  
            }
        }
    }

    &-social {
        padding: 30px 0px;
        display: flex;
        justify-content: space-between;
        
        .copyright-text {
            font-size: 1.3rem;
            text-transform: uppercase;
            color: #7e7e7e;
        }

        .social-icons ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-transform: uppercase;
            @include text(inherit, 500, 1.2rem);
            color: #7e7e7e;

            li {
                padding: 0px 5px;

                i {
                    font-size: 1.5rem;
                }
            }
        }
    }

}