.container {
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;

}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}


@mixin text($family, $weight, $size) {
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
}

.hidden{
    display:none !important;
}
.active{
    display: block !important;
}
.title{
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #222222;
}
.big-title{
    text-align: center;
    text-transform: uppercase;
    margin:80px 0 60px;
    font-size: 3.3rem;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.required{
    color: red;
}

.btn{
    padding: 22px 50px;
    display: inline-block;
    @include text(inherit,500,1.3rem);
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    letter-spacing: 2px;
    line-height: 1;

}

.black-btn{
    background: #000000;
    color: #fff;
}