.container {
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;

}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}


@mixin text($family, $weight, $size) {
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
}

.hidden{
    display:none !important;
}
.active{
    display: block !important;
}
.title{
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #222222;
}