.contact-conteiner {
    padding: 30px 0px 60px;
    display: flex;

    &-item {
        flex-basis: 33%;
        text-align: center;

        span {
            display: inline-block;
            margin-bottom: 30px;

            i {
                background-color: black;
                color: white;
                font-size: 4.1rem;
                padding: 50px 60px;
            }
        }

        h4 {
            @include text(inherit, 500, 2.5rem);
            text-transform: capitalize;
        }

        p {
            color: #888;
            font-size: 1.4rem;
            margin-bottom: 8px;
        }


    }
}




.contact-form {
    width: 900px;
    margin: 0 auto;
    padding: 80px 0px 50px;

    form {
        display: flex;
        flex-direction: column;
        label{
            font-size: 1.5rem;
        }

        input[type=text],
        input[type=password],
        input[type=email],
        textarea {
            border: 1px solid #eaedff;
            border-radius: 0;
            color: #646363;
            height: 45px;
            padding: 0 0 0 10px;
            margin: 10px 0px;
            font-size: 15px;
        }

    }


}

.contact-map{
    height: 600px;
    width: 100%;
    overflow: hidden;
}