.slideshow {
    padding-top: 70px;

    &-container {
        position: relative;

        .slide {
            display: none;

            img {
                height: 700px;
                width: 100%;
                object-fit: cover;
            }

            &-text {
                position: absolute;
                top: 47%;
                left: 100px;
                transform: translateY(-50%);

                h2 {
                    font-size: 3rem;
                    font-weight: 500;
                    margin: 0 0 6px;
                    text-transform: uppercase;
                }

                h3 {
                    font-family: Oswald;
                    font-weight: 200;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    margin: 0 0 6px;
                }

                p {
                    color: #888888;
                    font-family: Poppins;
                    font-size: 13px;
                    margin: 0 0 25px;
                }

                a {
                    color: white;
                    padding: 12px 10px;
                    color: #fff;
                    transition: 0.3s;
                    margin: 0 0px 8px;
                    background: #6c757d;
                }
            }
        }

        .slideshow-left-arrow,
        .slideshow-right-arrow {
            padding: 5px 15px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2rem;
            background-color: #abb7be;
            color: white;

        }

        .slideshow-left-arrow {
            left: 0;
        }

        .slideshow-right-arrow {
            right: 0;
        }
    }
}

.newsletter {
    padding: 80px 0px;
    background: #f4f4f4;

    &-container {
        text-align: center;

        h4 {
            @include text('Oswald', 400, 2.5rem);
            text-transform: uppercase;
        }

        p {
            margin: 17px 0 30px;
            font-size: 1.2rem;
            font-style: italic;
            color: #888888;

        }

        .newsletter-form {

            input {
                padding: 10px;
                width: 40%;
                font-size: 14px;
                color: #888888;
                border: 1px solid #ececec;
            }

        }

    }
}

.arrival {
    padding: 50px 0;

    .carousel-container {
        .carousel-item {
            display: flex;
            flex-direction:row;
        }


    }
}