.register {
    form {
        margin: auto;
        width: 540px;
        display: flex;
        flex-direction: column;

        div {
            margin-bottom: 15px;
            button:first-child {
                margin-right: 10px;

            }
        }
    }
}