.shop {
    padding-top: 70px;
    display: grid;
    grid-template-columns: 2fr 8fr;

    .filter {
        margin-top: -30px;

        .accordion {

            &-title {
                margin-bottom: 15px;
                padding: 10px 0;
                width: 100%;
                position: relative;
                display: flex;
                justify-content: space-between;
                @extend %small-title;
                border-bottom: 1px solid #e9e9e9;

            }


            .panel {
                // padding: 0 18px;
                background-color: white;
                display: none;
                overflow: hidden;

                ul {
                    li {
                        margin-bottom: 10px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        a,
                        span {

                            color: #888888;
                            @include text(inherit, 300, 1.3rem);
                            text-transform: capitalize;
                            transition: 0.3s;
                        }

                    }
                }
            }
        }

        .rangecontainer {
            margin-bottom: 30px;

            .range-slider {
                width: 100%;
                height: 15px;
                border-radius: 5px;
                background: black;
                outline: none;
                opacity: 0.7;
                transition: opacity .2s;
            }
        }

        p {
            color: #888888;
            @include text(inherit, 300, 1.3rem);
            text-transform: capitalize;
            transition: 0.3s;
        }


    }

    .products-container {
        padding: 0 0 0 70px;

        .products-info {
            padding: 60px;
            background: #f4f4f4;

            h2 {
                margin: 0 0 20px;
                @include text(inherit, 300, 3rem);
                letter-spacing: 0.5px;
                text-transform: uppercase;

            }

            h3 {
                margin-bottom: 10px;
                font-size: 2.2rem;
                text-transform: uppercase;

            }

            p {
                font-size: 12px;
                color: #666666;
            }
        }

        .filter-bar {
            margin-top: 60px;
            margin-bottom: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            ul {
                display: flex;

                li {
                    margin-right: 10px;

                    i {
                        padding: 10px;
                        font-size: 2.2rem;
                        background-color: white;
                        color: rgb(71, 71, 71);

                    }

                    .fa-th-large:before {
                        content: "\f009";
                    }

                    .fa-list-ul:before {
                        content: "\f0ca";
                    }


                }
            }
        }

        select {
            width: 100%;
            color: #646363;
            background: #ececec;
            padding: 15px;
            font-size: 1.3rem;
        }

        .product-showing {
            padding: 11px 15px;
            font-size: 1.3rem;
            border: 1px solid #ddd;
            color: #7e7e7e;
        }

    }

    .tab-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;

    }

    .tab-pane {

        // display: none;
        .product-grid {
            margin-bottom: 25px;
            display: flex;
            flex-direction: row;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border: 1px solid rgba(0, 0, 0, 0.1);

            }
        }
    }
}