* {
  margin: 0;
  padding: 0;
}

body {
  font-family: muli, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

@-webkit-keyframes flipZoomOut {
  0%, 100% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(0.8, 0.8);
  }
}

@keyframes flipZoomOut {
  0%, 100% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(0.8, 0.8);
  }
}
@-webkit-keyframes ripple {
  0%, 80% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100%, 40% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.4);
  }
}
@keyframes ripple {
  0%, 80% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100%, 40% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.4);
  }
}
@keyframes flipZoomOut {
  0%, 100% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(0.8, 0.8);
  }
}
@keyframes ripple {
  0%, 80% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100%, 40% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.4);
  }
}
.container {
  display: grid;
  place-items: center;
}
.container-header {
  margin-bottom: 100px;
  text-align: center;
}
.container-header h2 {
  font: 700 30px/1 droid-sans, sans-serif;
  margin-top: 50px;
}
.container-header p {
  font: 400 14px/1.42857143 muli, sans-serif;
  color: white;
  color: #333;
  margin: 20px 0px 10px;
}
.container-items {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.container-items .container-item {
  display: grid;
  place-items: center;
  position: relative;
  margin: 0px 0 30px;
  padding: 0;
}
.container-items .container-item:hover {
  -webkit-animation: flipZoomOut 1s forwards 1;
          animation: flipZoomOut 1s forwards 1;
}
.container-items .container-item:hover i {
  -webkit-animation: ripple 1s infinite;
          animation: ripple 1s infinite;
}
.container-items .container-item h2 {
  font: 700 30px/1 droid-sans, sans-serif;
  color: #ff408f;
  padding: 20px;
  margin-bottom: 18px;
}
.container-items .container-item i {
  width: 110px;
  height: 110px;
  margin: 20px 0;
  color: #fff;
  border-radius: 100%;
  background: #fd6faa;
  font-size: 52px;
  line-height: 107px;
  text-align: center;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.12);
}
.container-items .container-item p {
  font: 400 14px/1.42857143 muli, sans-serif;
  color: white;
  padding: 20px 20px 17px;
  margin-bottom: 10px;
  text-align: left;
}
.container-items .container-item a {
  margin: 10px 20px 20px;
  padding: 14px 35px;
  font: 400 14px/1.42857143 muli, sans-serif;
  color: white;
  background: #fd6faa;
  transition: all 0.3s linear;
}
.container-items .container-item a:hover {
  background: #e03079;
}
.container-items .container-item::before {
  content: "";
  z-index: -1;
  right: 0;
  left: 0;
  position: absolute;
  bottom: -30px;
  height: 345px;
  transform: skewY(5deg);
  background: #ff408f;
}