.menu {
    width: 825px;
    height: 72px;
    background-color: $grey-small-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $radius-x;

    .menu-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-left: 30px;

        i {
            color: white;
            font-size: 14px;
            &:last-child{
                position: relative;
                top: 4px;
            }
        }

        h3 {
            @extend .title-18;
            color: white;
        }

        span {
            @extend .text-14-400;
            color: white;
            position: relative;
            top: 2px;
        }

    }

    .menu-btn {
        margin-right: 15px;

        a {
            @extend .button_purple;
            color: white;
            @extend .text-14-700;
        }
    }


}