@import 'reset';
@import 'colors';
@import 'variables';
@import 'buttons';
@import 'elements';
@import 'menu';


.wrapper {
    box-sizing: border-box;
    max-width: 1170px;
    margin: 50px auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;

    .menu {
        width: 100%;
        display: flex;
        gap: 30px;

        .menu-nav {
            display: flex;
            flex-direction: column;
            gap: 0;

            a {
                @extend .go-back_transparent;
                color: white;

                i {
                    position: relative;
                    top: 0;
                    left: -4px;
                }

            }
        }

    }

    .columns {
        width: 100%;
        display: flex;
        gap: 30px;
        margin-top: 50px;

        .title-list {
            display: none;
        }

        .column {
            display: flex;
            flex-direction: column;
            width: 350px;

            h4 {
                @extend .title-18;
                color: $grey-big-text;
            }

            span {
                @extend .text-16-400;
                color: $grey;
            }



            .info-box {
                margin-top: 30px;
                background-color: white;
                border-radius: $radius-x/2;
                padding: 30px;

                ul {
                    li {
                        @extend .text-16-400;
                        color: $grey;
                        list-style: none;
                    }
                }

                h3 {
                    @extend .title-18;
                    color: #3A4374;
                }

                p {
                    @extend .text-16-400;
                    color: $grey;
                }

                .text-info {
                    margin-top: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    a {
                        @extend .element;

                        &:first-child {
                            margin-bottom: 15px;
                        }
                    }

                    .comments {

                        i {
                            color: #CDD2EE;
                        }

                        span {
                            @extend .text-16-700;
                            color: $grey-big-text;
                        }
                    }
                }
            }

            .orange-board {
                border-top: 5px solid #F49F85;
            }

            .purple-board {
                border-top: 5px solid $purple;
            }

            .blue-board {
                border-top: 5px solid $blue;
            }
        }


    }



}

$main-width: 1170px;
// figmada verilen tablet versiyasi min 707px-le qeder duzgun sekilde eks olunur elave kod yazamaga ehtiyac olmadi.707px-den etibaren dizayn qirilir

// mobil versiyada elave bir setir var. setirde her sutunun adina vuranda sadece hemin sutun acilir.
@media (max-width:736px) and (min-width:576px) {
    .wrapper {
        margin: 0 !important;
        padding: 0 !important;

        .menu {
            border-radius: 0;
        }

        .columns {
            flex-wrap: wrap;

            .column {
                margin: auto;
                width: 90%;
                flex-shrink: 0; //bu kod ekran kicilende sutunun kicilmesini qoymur ve bir sutun qalir
            }
        }
    }


}

@media (max-width:576px) and (min-width:313px) {
    .wrapper {
        margin: 0 !important;
        padding: 0 !important;

        .menu {
            border-radius: 0;
            flex-shrink: 0;
        }

        .columns {
            flex-wrap: wrap;

            .title-list {
                display: block;  //elave sutun
                display: flex;
                justify-content: space-between;
                width: 90%;
                margin: auto;


                &-item{
                   font-size: 13px;
                   font-weight: 700;
                   color: #647196;
                   opacity: 40&;
                   &:active{
                    font-size: 13px;
                    font-weight: 700;
                    color: #3A4374;
                   }
                   
                }
            }

            hr{
                margin-top:-15px;
                width: 100%;
                height: 1px;
                background-color: #8C92B3;
                opacity: 25%;
            }

            .column {
                margin: 0 auto;
                width: 90%;
                flex-shrink: 0; //bu kod ekran kicilende sutunun kicilmesini qoymur ve bir sutun qalir
            }
        }
    }

}