@import 'reset';
@import 'colors';
@import 'variables';
@import 'buttons';
@import 'elements';
@import 'menu';
@import 'responsive';


.wrapper {
    box-sizing: border-box;
    max-width: 1170px;
    margin: 50px auto;
    padding: 0 30px ;
    display: flex;
    flex-direction: column;

    .menu {
        width: 100%;
        display: flex;
        gap: 30px;

        .menu-nav {
            display: flex;
            flex-direction: column;
            gap: 0;

            a {
                @extend .go-back_transparent;
                color: white;

                i {
                    position: relative;
                    top: 0;
                    left: -4px;
                }

            }
        }

    }

    .columns {
        width: 100%;
        display: flex;
        gap: 30px;
        margin-top: 50px;

        .column {
            display: flex;
            flex-direction: column;
            
            h4 {
                @extend .title-18;
                color: $grey-big-text;
            }

            span {
                @extend .text-16-400;
                color: $grey;
            }



            .info-box {
                margin-top: 30px;
                background-color: white;
                border-radius: $radius-x/2;
                padding: 30px;

                ul {
                    li {
                        @extend .text-16-400;
                        color: $grey;
                        list-style: none;
                    }
                }

                h3 {
                    @extend .title-18;
                    color: #3A4374;
                }

                p {
                    @extend .text-16-400;
                    color: $grey;
                }

                .text-info {
                    margin-top: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    a {
                        @extend .element;

                        &:first-child {
                            margin-bottom: 15px;
                        }
                    }

                    .comments {

                        i {
                            color: #CDD2EE;
                        }

                        span {
                            @extend .text-16-700;
                            color: $grey-big-text;
                        }
                    }
                }
            }

            .orange-board {
                border-top: 5px solid #F49F85;
            }

            .purple-board {
                border-top: 5px solid $purple;
            }

            .blue-board {
                border-top: 5px solid $blue;
            }
        }


    }



}