@import 'common//reset';
@import 'common/variables';
@import 'common/colors';
@import 'common/buttons';
@import 'common/elements';
// components
@import 'components/elements-board';
@import 'components/feedback-board';
@import 'components/form';
@import 'components/list';
@import 'components/menu';
@import 'components/roadmap-board';


.form-box{
  &>i{
      position: relative;
      top: -62px;
      left: 18px;
      color: white;
      font-size: 25px;
  }  
}

.form-box::before {
    content: " ";
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 35px;
}

.buttons {
    display: flex;
    justify-content: space-between;

    a:nth-child(1) {
        @extend .button_red;
    }

    .row {
        display: flex;
        gap: 15px;

        a:nth-child(1) {
            @extend .button_grey;

        }

        a:nth-child(2) {
            @extend .button_purple;
        }
    }


}