@import 'common//reset';
@import 'common/variables';
@import 'common/colors';
@import 'common/buttons';
@import 'common/elements';

// components
@import 'components/elements-board';
@import 'components/empty-feedback';
@import 'components/feedback-board';
@import 'components/form';
@import 'components/list';
@import 'components/menu';
@import 'components/roadmap-board';

.wrapper {
    width: 825px;
    margin: 50px auto;

    .menu {

        .menu-nav {
            display: flex;
            flex-direction: column;
            gap: 0;

            a {
                @extend .go-back_transparent;
                color: white;
            }
        }

    }

    .columns {
        margin-top: 50px;
        display: flex;
        gap: 30px;

        .column {

            h4 {
                @extend .title-18;
                color: $grey-big-text;
            }

            span {
                @extend .text-16-400;
                color: $grey;
            }



            .info-box {
                margin-top: 30px;
                background-color: white;
                border-radius: $radius-x;
                padding: 30px;

                .btn {
                    display: flex;
                    justify-content: start;
                    a {
                        @extend .element;
                        margin: 5px 0;
                    }
                }


            }

            .orange-board {
                border-top: 5px solid #F49F85;
            }

            .purple-board {
                border-top: 5px solid $purple;
            }

            .blue-board {
                border-top: 5px solid $blue;
            }
        }


    }

}