@import 'common//reset';
@import 'common/variables';
@import 'common/colors';
@import 'common/buttons';
@import 'common/elements';

// components
@import 'components/elements-board';
@import 'components/feedback-board';
@import 'components/form';
@import 'components/list';
@import 'components/menu';
@import 'components/roadmap-board';



.wrapper{
    width: 1110px;
    margin: 90px auto;
    display: flex;
    gap:30px;

    .side-boxs{
        width: 255px;
    }
    .main-boxs{
        width: 825px;
    }
    
    .empty-box {
        background-color: white;
        margin-top: 30px;
        padding: 110px 200px;
        height: 600px;
        border-radius: $radius-x;
        display: flex;
        justify-content: center;
        text-align: center;
        position: relative;
    
        &-inner {
            img{
                margin-bottom: 60px
            }
    
    
            h2 {
                @extend .title-24;
                color: $grey-big-text;
                margin-bottom: 20px;
            }
    
            p {
                @extend .text-16-400;
                color: $grey;
                margin-bottom: 50px;
            }
    
            a {
                @extend .button_purple;
                color: white;
                @extend .text-14-700;
            }
    
        }
    
    
    }

}