/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

a {
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.wrapper {
    margin: 50px auto;
    padding: 4rem 3rem;
    width: 380px;
    height: 520px;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px rgba(8, 7, 16, 0.3);
}

.username,
.password,
.checkbox,
.social,
.btn {
    margin-bottom: 3rem;
}

#login-form h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 3rem;
    color: #222222;

}

label {
    font-size: 1.6rem;
    color: #222222;
}

input[type=password],
input[type=text] {
    height: 45px;
    width: 100%;
    padding: 0 35px 0 10px;
    margin-top: 8px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 0.3rem;
    font-size: 1.4rem;
    font-weight: 300;
    border: 1px solid #bbb;

}


.password{
    position: relative;
}
.password i{
    position: absolute;
    right: 10px;
    top: 40px;
    font-size: 24px;
    line-height: 1;
    color: hsl(0, 1%, 71%);
    display: inline-block;
}

.checkbox {
    position: relative;
}

.checkbox a {
    position: absolute;
    top: 0%;
    right: 0;
}

.checkbox label {
    font-size: 13px;
    color: #555;
}

.btn {
    width: 100%;
    background-color: #26a69a;
    color: #fff;
    padding: 8px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social a{
    background-color: #4285F4;
    width: 140px;
    border-radius: 3px;
    padding: 10px 8px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: 1.6rem;
}
.sign-up, .checkbox a{
    color: #e65100;
    font-size: 1.3rem;
    cursor: pointer;
    text-decoration: underline;
}

input:focus{
    border: 1px solid blue;
}

.red{
    border: 1px solid red;
}