.empty-box {
    margin-top: 30px;
    height: 600px;
    background: $white url(/ProductFeedbackUI/background.png) top no-repeat;
    border-radius: $radius-x;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;

    &-inner {
        position: absolute;
        bottom: 120px;

        h2 {
            @extend .title-24;
            color: $grey-big-text;
            margin-bottom: 20px;
        }

        p {
            @extend .text-16-400;
            color: $grey;
            margin-bottom: 50px;
        }

        a {
            @extend .button_purple;
            color: $white;
            @extend .text-14-700;
        }

    }


}