.list {
    position: relative;
    margin-top: 30px;
    background-color: $white;
    border-radius: $radius-x;
    padding: 30px;
    display: flex;
    align-items: center;

    .count {

        span {
            @extend .element-high;
            @extend .text-13-700;
            color: $grey-big-text;
            padding: 25px 8px 8px;
        }

        i {
            position: relative;
            top: 25px;
            left: 12px;
            color: #4661E6;
            z-index: 2;
            margin-bottom: 5px;
        }
    }

    .list-text {

        margin-left: 30px;

        h4 {
            @extend .title-18;
            color: $grey-big-text;
            margin-bottom: 8px;
        }

        p {
            @extend .text-16-400;
            color: $grey;
            margin-bottom: 8px;

        }

        a {
            @extend .element;
            display: inline-block;
        }
    }

    .comments {
        position: absolute;
        right: 10px;
        i {
            color: #CDD2EE;
        }
        span{
            @extend .text-16-700;
        }
    }




}