body{
    background-color: $white-dark;
}

.wrapper{
    width: 1110px;
    margin: 50px auto;
    display: flex;
    gap:30px;

    .side-boxs{
        width: 255px;
    }
    .main-boxs{
        width: 825px;
    }
    

}