$mainColor:#19d3ca;
$hoverColor:darken(#19d3ca, 10%);
$space-x: 10; 


@mixin small-Text {
    font: 400 14px/1.42857143 'muli', sans-serif;
    padding: 0px 17px 17px;
    margin-bottom: 10px;
    color: #333;

}

@mixin big-Text {
    font: 700 30px/1 droid-sans, sans-serif;
    margin-bottom: 10px;
}

@mixin grid-center {
    display: grid;
    place-items: center;
}

@mixin btn{
    margin: 10px 0 20px;
    padding: 12px 35px;
    color: #fff;
    border-radius: 40px;
    background-color: $mainColor;
}