@import 'colors';

.button-basic {
    width: 158px;
    height: 44px;
    border-radius:$radius-x;
}

.button_purple {
    @extend .button-basic;
    background-color: $purple;
}

.button_purple_hover {
    @extend .button-basic;
    background-color: $purple-light;
}

.button_blue {
    @extend .button-basic;
    background-color: $blue-dark;
}

.button-blue_hover {
    @extend .button-basic;
    background-color: $blue-light;
}

.button-grey {
    @extend .button-basic;
    background-color: $grey-big-text;
}

.button-grey_hover {
    @extend .button-basic;
    background-color: $grey-button-hover;
}

.button-red {
    @extend .button-basic;
    background-color: $red;
}

.button-red_hover {
    @extend .button-basic;
    background-color: $red-light;
}

.go-back_basic {
    width: 158px;
    height: 53px;
    border-radius: $radius-x
}

.go-back_transparent {
    @extend .go-back_basic;
    color: $grey;
}
.go-back_dark{
    @extend .go-back_basic;
    background-color: $grey-small-text;

}