@import 'colors';

.button-basic {
    padding: 12px 25px;
    border-radius: $radius-x;
}

.button_purple {
    @extend .button-basic;
    background-color: $purple;

    &:hover {
        background-color: $purple-light;
    }
}

.button_blue {
    @extend .button-basic;
    background-color: $blue-dark;

    &:hover {
        background-color: $blue-light;
    }
}


.button-grey {
    @extend .button-basic;
    background-color: $grey-big-text;

    &:hover {
        background-color: $grey-button-hover;
    }
}


.button-red {
    @extend .button-basic;
    background-color: $red;

    &:hover {
        background-color: $red-light;
    }
}



.go-back_basic {
    width: 158px;
    height: 53px;
    border-radius: $radius-x;
}

.go-back_transparent {
    @extend .go-back_basic;
    color: $grey;

    &:hover {
        text-decoration: underline;
    }
}

.go-back_dark {
    @extend .go-back_basic;
    background-color: $grey-small-text;

    &:hover {
        text-decoration: underline;
    }

}