.element-high {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    border-radius: $radius-x;
    background-color: #F2F4FE;

    &:hover {
        background-color: #CFD7FF;
    }

    &:active {
        background-color: $blue-dark;
        color: $white;
    }
}

.element {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: $radius-x;
    background-color: #F2F4FF;
    color: $blue-dark;
    @extend .text-13-700;

    &:hover {
        background-color: #CFD7FF;
        color: $blue-dark;
    }

    &:active {
        background-color: $blue-dark;
        color: $white;
    }
}
