$purple:#ad1fea;
$purple-light:#C75AF6;
// blue colors
$blue-dark:#4661e6;
$blue-light:#7C91F9;
$blue:#62bcfa;
// orange colors
$orange:#f49f85;
//white colors
$white-dark:#f7f8fd;
$white-grey:#f2f4ff;
//grey colors
$grey:#647196;
$grey-small-text:#373f68;
$grey-big-text:#3a4374;
$grey-button-hover:#656EA3;
// red colors
$red:#D73737;
$red-light:#E98888;
